<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DLTabBarControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAB468F31CF83DE400B828ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB4690C1CF83DE400B828ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAB469171CF83DE400B828ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
